.section{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100vw;
    height: 100vh;
}
.clock-border{
    width:400px;
    height:443px;
    border-radius:50%;
    border: 11px solid #2D003C;
    /* 293438 */
    position: relative;
    background: url("./clock.png");
    background-size: contain;
    background-position: center;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}
.hour-needle{
    width:5px;
    height:77px;
    left:50%;
    bottom:50%;
    background-color: orange;
    border-radius: 40%;
    position: absolute;
    transform-origin: 50% 100%;
    animation:needle 43200s linear 0s infinite;
}
.min-needle{
    width:5px;
    height:115px;
    left:50%;
    bottom:50%;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
    transform-origin: 50% 100%;
    animation:needle 3600s linear 0s infinite;
}
.sec-needle{
    width:5px;
    height:155px;
    left:50%;
    bottom:50%;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    transform-origin: 50% 100%;
    animation:needle 60s steps(60,end)  0s infinite;
}
@keyframes needle{
    0%{
        transform: rotate(90deg);
    }
    100%{
        transform: rotate(450deg);
    }
}